<div class="role-details">
  <div class="main-container-title">
    <div class="title">
      <h4>Roles > Employees</h4>
      <p>All the roles are configured here</p>
    </div>
    <div class="buttons">
      <button class="add-employee-button" onclick="addemployeepage()">
        <i class="bx bx-plus"></i>
        <span class="nav-item-text">Add employee</span>
      </button>
    </div>
  </div>
  <div class="role-description">
    <h4>Role Description</h4>
    <p>
      Configure the providers that are available to users when they sign in.
      Configure the providers that are available to users when they sign in.
      Configure the providers that are available to users when they sign in.
      Configure the providers that are available to users when they sign in.
    </p>
  </div>
  <div class="role-details-cards">
    <div class="role-card-container">
      <div class="role-card-row">
        <div class="role-card">
          <div class="role-card-column-left">
            <div class="profile-container">
              <img
                src="assets/profileimg.png"
                alt="Profile Image"
                class="profile-image"
              />
              <div class="profile-info">
                <span class="profile-name">Robert Fox</span>
                <span class="profile-email">Head of product Design</span>
              </div>
            </div>
            <div class="role-details-profile-info">
              <img src="assets/Vector (1).svg" alt="" /> INF122 <br />
              <img src="assets/email-1_svgrepo.com.svg" alt="" /> adamk@yahoo.com <br />
              <img src="assets/team_svgrepo.com.svg" alt=""> Technology <br>
              <img src="assets/location-pin-alt-1_svgrepo.com.svg" alt=""> Stock, New Hampshire <br>
            </div>
          </div>
          

          <div class="role-card-button">
            View 
            <span><img src="assets/Vector.svg" alt="" /></span>
          </div>
        </div>
        <div class="role-card">
          <div class="role-card-column-left">
            <div class="profile-container">
              <img
                src="assets/profileimg.png"
                alt="Profile Image"
                class="profile-image"
              />
              <div class="profile-info">
                <span class="profile-name">Marvin Mckinney</span>
                <span class="profile-email">head of Engineering</span>
              </div>
            </div>
            <div class="role-details-profile-info">
              <img src="assets/Vector (1).svg" alt="" /> INF150 <br />
              <img src="assets/email-1_svgrepo.com.svg" alt="" /> sravani@yahoo.com <br />
              <img src="assets/team_svgrepo.com.svg" alt=""> Admin <br>
              <img src="assets/location-pin-alt-1_svgrepo.com.svg" alt=""> Syracuse, Connecticut <br>
            </div>
          </div>
          


          <div class="role-card-button">
            View 
            <span><img src="assets/Vector.svg" alt="" /></span>
          </div>
        </div>
        <div class="role-card">
          <div class="role-card-column-left">
            <div class="profile-container">
              <img
                src="assets/profileimg.png"
                alt="Profile Image"
                class="profile-image"
              />
              <div class="profile-info">
                <span class="profile-name">Eleanor Pena</span>
                <span class="profile-email">Senior Interaction Designer</span>
              </div>
            </div>
            <div class="role-details-profile-info">
              <img src="assets/Vector (1).svg" alt="" /> INF240 <br />
              <img src="assets/email-1_svgrepo.com.svg" alt="" /> grolschie@mac.com <br />
              <img src="assets/team_svgrepo.com.svg" alt=""> Customer Executive <br>
              <img src="assets/location-pin-alt-1_svgrepo.com.svg" alt=""> Portland, Illinois <br>
            </div>
          </div>
          

          <div class="role-card-button">
            View 
            <span><img src="assets/Vector.svg" alt="" /></span>
          </div>
        </div>
      </div>
      <div class="role-card-row">
        <div class="role-card">
          <div class="role-card-column-left">
            <div class="profile-container">
              <img
                src="assets/profileimg.png"
                alt="Profile Image"
                class="profile-image"
              />
              <div class="profile-info">
                <span class="profile-name">Jane Cooper</span>
                <span class="profile-email">Product Analyst</span>
              </div>
            </div>
            <div class="role-details-profile-info">
              <img src="assets/Vector (1).svg" alt="" /> INF389 <br />
              <img src="assets/email-1_svgrepo.com.svg" alt="" /> chronos@aol.com <br />
              <img src="assets/team_svgrepo.com.svg" alt=""> Product <br>
              <img src="assets/location-pin-alt-1_svgrepo.com.svg" alt=""> Coppell, Virginia <br>
            </div>
          </div>
          

          <div class="role-card-button">
            View 
            <span><img src="assets/Vector.svg" alt="" /></span>
          </div>
        </div>
        <div class="role-card">
          <div class="role-card-column-left">
            <div class="profile-container">
              <img
                src="assets/profileimg.png"
                alt="Profile Image"
                class="profile-image"
              />
              <div class="profile-info">
                <span class="profile-name">Floyd Miles</span>
                <span class="profile-email">Visual Designer</span>
              </div>
            </div>
            <div class="role-details-profile-info">
              <img src="assets/Vector (1).svg" alt="" /> INF209 <br />
              <img src="assets/email-1_svgrepo.com.svg" alt="" /> dgatwood@msn.com <br />
              <img src="assets/team_svgrepo.com.svg" alt=""> Customer Executive <br>
              <img src="assets/location-pin-alt-1_svgrepo.com.svg" alt=""> Lansing, Ilinois <br>
            </div>
          </div>
           

          <div class="role-card-button">
            View 
            <span><img src="assets/Vector.svg" alt="" /></span>
          </div>
        </div>
        <div class="role-card">
          <div class="role-card-column-left">
            <div class="profile-container">
              <img
                src="assets/profileimg.png"
                alt="Profile Image"
                class="profile-image"
              />
              <div class="profile-info">
                <span class="profile-name">Dianne Russell</span>
                <span class="profile-email">Full Stack Software Engineer</span>
              </div>
            </div>
            <div class="role-details-profile-info">
              <img src="assets/Vector (1).svg" alt="" /> INF922 <br />
              <img src="assets/email-1_svgrepo.com.svg" alt="" /> kspiteri@live.com <br />
              <img src="assets/team_svgrepo.com.svg" alt=""> Human Research <br>
              <img src="assets/location-pin-alt-1_svgrepo.com.svg" alt=""> Corona, Michigan <br>
            </div>
          </div>


          <div class="role-card-button">
            View 
            <span><img src="assets/Vector.svg" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
